:80 {
    # Redirection from HTTP to HTTPS
    redir https://{host}{uri} permanent
}

:443 {
    tls /etc/ssl/fullchain.pem /etc/ssl/privkey.pem

    # Reverse proxy to localhost:8080
    reverse_proxy mathematics:8080

    # Basic Authentication configurations
    basicauth /go {
        interstellar $2a$14$Ud/ovLwv84eLUzk1uH9iLeyRVnPc6pRUGerZobe8j0uHJ.5pwqDL.
    }
    basicauth / {
        interstellar $2a$14$Ud/ovLwv84eLUzk1uH9iLeyRVnPc6pRUGerZobe8j0uHJ.5pwqDL.
    }
}
